/* make scrolling smooth  */
html{
    scroll-behavior:smooth;
}
/* get rid of padding and sizing on body so header is at top */
body{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
/* add some padding back to rest of page */
main{
    padding:2vw;
}
/* navbar */
.navbar{
    background-color: #3b755c;
    color: #00f58d;
    display:flex;
    flex-direction:column;
    font-size: 1.5rem;
    margin-bottom:1rem;
}

.navbar .nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

.navbar svg{
    width: 4rem;
    fill: #4b3632;
}

.navbar .close{
    display: none;
}

.navbar .menu{
    margin-top: 1.7rem;
}

.navbar .close{
    margin-top: 1.4rem;
}

.navbar .nav__checkbox{
    display: none;
}

/* Hamburger Toggle */
#nav__checkbox:checked ~ .navbar-links ul {
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
    display: block;
  }

#nav__checkbox:checked ~ label.nav__toggle .menu {
    display: none;
}

/* logo */
.logo{
    display: flex;
    align-items:center;
}

.logo-img{
    height:60px;
    width:60px;
    margin-left: 1rem;
}

.logo h1{
    text-align:center;
    padding:.3em;
    margin-left:1em;
    margin-right:1em;
    border: 3px outset #4b3632;
    line-height: 3rem;
    font-size: 2rem;
}

/* navigation links */
.navbar-links li{
    list-style: none;
    text-align:center;
    padding:0.3em;
}
.navbar-links ul{
    padding:0;
    text-align:center;
    display: none;
}

/*style all a tags in header and then on hover */
.navbar-links a{
    color:#00f58d;
    padding:0.5rem 0.5rem;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    background-color: #4b3632;
    border-radius: 10px;
}

.navbar-links a:hover, .navbar-links a:focus{
    color:#4b3632;
    background-color: #00f58d;
}

/* media query for non-mobile navbar min-width set to the width of nav elements such that no text wraps */
@media screen and (min-width:40em){
    .logo-img{
        height:100px;
        width:100px;
    }
    
    .logo h1{
        font-size: 45pt;
    }

    .navbar svg{
        width: 5rem;
    }

    .navbar .menu{
        margin-top: 3rem;
    }
    
    .navbar .close{
        margin-top: 2.7rem;
    }
}


@media screen and (min-width:100em){
    .navbar{
        flex-direction:row;
        justify-content: space-between;
    }
    .navbar ul {
        display:flex;
        flex-direction:row;
    }
    .navbar-links{
        display:flex;
        align-content:center;
        align-self: center;
        margin-right: 1rem;
    }
    .navbar-links a{
        font-size:2em
    }

    .navbar .nav__toggle{
        display: none;
    }
}