body {
    background-color: #00f58d;
    color: black;
    font-family:Esteban;
}

h1,h2,h3,h4,h5,h6{
    font-family:"Patua One";
    font-size: 45pt;
    text-align:center;
    background-color:#a04535;
    padding:.3em;
    margin-left:3em;
    margin-right:3em;
    line-height:.65;
    border: 3px outset #4b3632;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

header{
    display: flex;
    flex-direction:column;
    
}

#hero,footer{
    background-color:#2db57b;
    text-align:center;
    padding:10px;
    border: 5px solid #a04535;
}

#hero img{
    width:300px;
    max-width: 100%;
    border: 1px solid #2db57b;
    border-radius: 20px;
}

#bio{
    text-align:center;
}

#bio h2{
    margin:0.5ex;
}

#video{
    margin: 0 auto;
    width: 80%;
}

#video h2{
    max-width:100%;
    margin:0.1em;
}

.videowrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
    border: 6px outset #a04535;
    background-color: #4b3632;
}

.videowrapper iframe{
    position: absolute;
    left:0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.videowrapper h2{
    margin:0.1em;
}

#hobbies{
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 1em;
}

#hobbies h2{
    margin:0.1em;
    margin-top: 1em;
}

#hobbies ul li {
    color: rgb(150,0,0);
    text-align:left;
}

#hobbies ul li:nth-child(3n-1){
    color: rgb(0, 58, 0);
}

#hobbies ul li:nth-child(3n){
    color: rgb(10,10,180);
}

#gallery{
    border: 4px solid #a04535;
    background-color: #2db57b;
}

#gallery h2{
    margin: 0.1em;
}

#gallery img{
    max-width:100%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#gallery img:hover{
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

#gallery figure{
    text-align:center;
}

#gallery figcaption{
    font-size: 2rem;
}

#imageHover{
    border: 4px solid #a04535;
    margin-bottom:2rem;
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: #2db57b;
}

#imageHover img{
    
    width: 300px;
    height: auto;
    /*justify-self: center;
    align-self: center;*/
}

#imageHover div{
    padding:2rem;
    max-width:60rem;
    margin: 0 auto;
}

#imageHover div p{
    padding:0.3rem;
}

#imageHover h2, #imageHover div h2{
    color:black;
    background-color:#a04535;
    font-style: italic bold;
    font-size:3em;
    padding:.3em;
    margin:0.1em;
    line-height:.8;
    border: 3px outset #4b3632;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#imageHover div p:nth-child(2n+1):first-letter{
    color:#4b3632;
    background-color:#2db57b;
    float:left;
    font-style: italic;
    font-size:3em;
    padding:.3em;
    margin-right:.3em;
    line-height:.65;
    border: 0.1em outset #4b3632;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

#imageHover .grid{
    display:grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin:0;
}

#imageHover .container {
    position: relative;
    width: 80%;
}
  
.image {
    display: block;
    width: 800px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 4px;
    right: 0;
    width: 240px;
    height: 360px;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
}

.container .overlay:hover {
    opacity: 1;
}

#imageHover .zoom1, #imageHover .zoom2{
    display: flex;
    padding: 0;
    width:100%;
    justify-content: center;
}

.zoom1 figure, .zoom2 figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.zoom1 figure img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom1 figure:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.zoom2 figure img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.zoom2 figure:hover img{
    -webkit-transform: scale(1);
	transform: scale(1);
}

#imageHover .spin{
    display: flex;
    padding: 0;
    width:100%;
    justify-content: center;
}

.spin figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.spin figure img{
    -webkit-transform: rotate(15deg) scale(1.3);
    transform: rotate(15deg) scale(1.3);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.spin figure:hover img{
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

/* Filters */
#imageHover .gray, #imageHover .sepia, #imageHover .invert, #imageHover .blur, #imageHover .hrotate, #imageHover .flash, #imageHover .shine, #imageHover .combo{
    display: flex;
    padding: 0;
    width:100%;
    justify-content: center;
}


/* GrayScale Filter */
.gray figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.gray figure img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gray figure:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* Sepia Filter */
.sepia figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.sepia figure img{
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.sepia figure:hover img{
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

/* Invert Filter */
.invert figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.invert figure img{
    -webkit-filter: Invert(100%);
    filter: Invert(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.invert figure:hover img{
    -webkit-filter: Invert(0);
    filter: Invert(0);
}

/* Blur Filter */
.blur figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.blur figure img{
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.blur figure:hover img{
    -webkit-filter: blur(0);
    filter: blur(0);
}

/* Hue-Rotate Filter */
.hrotate figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.hrotate figure img{
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hrotate figure:hover img{
    -webkit-filter: hue-rotate(0);
    filter: hue-rotate(0);
}

/* Flash */
.flash figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

.flash figure:hover img{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* Shine */
.shine figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.shine figure::before{
    position: absolute;
	top: 0;
	left: -80%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.shine figure:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Combo */
.combo figure{
    width: 300px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.combo figure img{
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1);
	transform: scale(1);
    -webkit-filter: grayscale(60%) blur(5px);
    filter: grayscale(60%) blur(5px);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.combo figure:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-filter: grayscale(0%) blur(0);
    filter: grayscale(0%) blur(0);
}

.combo figure::before{
    position: absolute;
	top: 0;
	left: -80%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.combo figure:hover::before{
    -webkit-animation: shine .75s;
	animation: shine .75s;
}

#contact h2{
    margin:0.1em;
}

#formElements{
    display:grid;
}

#contact{
    padding: 1rem;
    max-width:600px;
    margin:2rem auto;
}

#contact label{
    margin: 0.5rem;
}

fieldset{
    border: 2px solid #4b3632;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #2db57b;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding:.5em;
    font-size: 1rem;
}

legend{
    background-color: #4b3632;
    color: #00f58d;
}

#contact ul{
    list-style:none;
    padding:0px;
}

#contact li{
    margin:1rem;
}

#contact button{
    background-color:#4b3632;
    color:#00f58d;
    border: 2px solid #a04535;
    max-width: 400px;
    justify-self: center;
    width: 50%;
}

/* Tablet Size */
@media  screen and (min-width:60em){
    #gallery figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption{
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    figure img{
        width: 100%;
    }

    #imageHover div{
        max-width: 100%;
    }

    #imageHover img{
        display: grid;
        grid-template-columns: 1fr;
        width: 500px;
        height: auto;
        justify-self: center;
        align-self: center;
    }

    .overlay {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 8px;
        right: 40px;
        width: 85%;
        height: 84%;
        opacity: 0;
        transition: .5s ease;
        background-color: red;
    }

    .zoom1 figure, .zoom2 figure, .spin figure, .gray figure, .sepia figure, .invert figure, .blur figure, .hrotate figure, .flash figure, .shine figure, .combo figure{
        width: 500px;
        height: 600px;
        overflow: hidden;
    }
}


@media screen and (min-width:100em){
    #gallery{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery h2{
        grid-column: 1/-1;
    }
    #gallery figure{
        display:block;
        text-align:center;
    }
    #video{
        width: 70%;
    }
    #imageHover .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .overlay {
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 8px;
        right: 60px;
        width: 85%;
        height: 65%;
        opacity: 0;
        transition: .5s ease;
        background-color: red;
    }
}